.container {
    
    text-align: center;
    color: #ECECEC;
  }
  .header {
    color: #ECECEC;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  .header div {
    color: #ECECEC;
    flex: 1;
    align-items: center;
    text-align: center;
    font-size: .75rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
  }
  .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
  }
  .body > * {
    flex: 1;
  }
  .image {
    width: 100px;
  }
  .buttons > * {
    width: 40px;
    height: 40px;
    background-color: #FF7F50;
    color: #242424;
    border: none;
    margin: 0.5rem;
    font-size: 2rem;
  }

/* Tablet */
@media only screen and (max-width: 768px) {

    .container{
        /* padding: 0; */
    }

    .buttons > * {
        width: 35px;
        height: 35px;
        margin: 0.5rem;
        font-size: 2rem;
      }
  
  }