.card {
    margin: 0.5rem;
    position: relative;
    text-align: center;
  }
  .image {
    object-fit: cover;
    border: 1px solid black;
    transition: all .5s ease-in;
    aspect-ratio: 13/7;
    width: 100%;
  }
  .info {
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    padding: 1.5rem;
    text-align: center;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    border: 1px solid black;
    cursor: pointer;
  }
  .card:hover .image {
    transform: scale(1.05);

  }
  .card:hover .info {
    opacity: 0.9;
  }

  .large .iamge{
    width: 800px;
  }


   /* Laptop */
   @media only screen and (min-width:769px) and (max-width: 1024px) {
 
    .image{
        width: 75%;
    }
  }

  /* Tablet */
  @media only screen and (min-width:481px) and (max-width: 768px) {
  
    .image{
        width: 85%;
    }
  }


   /* Phone */
  @media only screen and (min-width: 320px) and (max-width: 480px) {
   
    .image{
        width: 96%;
    }
  }