@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #242424;
}

.wrapper {
  flex-direction: column;
  justify-content: space-evenly;
}

@media only screen and (max-width: 1000px) {
  
  body{
   
  }
}