.card {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 1rem;
    font-weight: 600;
  }
  
  .category {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  .button {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.75rem 0;
    color: #0066CC;
    background-color: #ECECEC;
    text-transform: uppercase;
    border: 2px solid white;
    cursor: pointer;
  }
  .button:hover {
    background: black;
    color: white;
  }