.title {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0 1rem 1rem;
    padding: 2vh;
  }
  .container {
    padding: 0 2rem;
    margin-bottom: 2rem;
    background-color: #242424;
    color: white;
   
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2.5rem .25rem;
    place-items: center;
  }


  /* Tablet */
@media only screen and (max-width: 768px) {

    .container{
      padding: 0;
    }
  
  }